h1 {
  color: red;
  font-size: 4rem;
}
h2 {
  color: teal;
  font-size: 3rem;
}
body {
  background: rgba(207, 212, 214, 0.56);
}
h3 {
  font-size: 2rem;
color: darkslategray;
}
p {
  color: darkslategray;
  font-size: 1.5rem;
}
#heading {
  color: rgb(9, 139, 156);
  font-size: 3rem;
}
#linking {
  color: darkseagreen;
  font-size: 1.5rem;
  font-family: Impact bold;
}
#footer {
  font-size: x-large;
}

